<html lang="en">
    <head>
        <title>Book-Manager</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <header>
            <h2>Book-Manager</h2>
        </header>

        <nav>
            <form>
                <a href="/">Home</a> |
                <a href="/books">Books</a> |
                <a href="#">Publishers</a>
            </form>

            <form method="get" action="/search-basic">
                <input name="keyword" placeholder="Search">
                <button type="submit">Search</button>
            </form>

            <form method="get" action="/search-advance">
                <input name="title" placeholder="Title">
                <input name="author" placeholder="Author">
                <input name="publisher" placeholder="Publisher">
                <button type="submit">Search</button>
            </form>

            <form>
                <a href="/create">Create Book</a>
            </form>
        </nav>
        <section>
            {% for book in books %}
            <ul>
                <li>
                    <a href="/book/{{book.getId()}}">{{book.getTitle()}}</a> -|-
                    <a href="/edit/{{book.getId()}}" style="font-size: larger">Edit</a> -|-
                    <a href="/delete/{{book.getId()}}" style="font-size: larger">Delete</a>
                </li>
            </ul>
            {% endfor %}
        </section>
    </body>

</html>