<html lang="en">
    <head>
        <title>Book-Manager</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/javascript/edit-book-script.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="container-fluid">
            <header>
                <h2>Book-Manager</h2>
            </header>
            <nav>
                <form>
                    <a href="/">Home</a>
                </form>
            </nav>

            <section>
                <form>
                    <small>
                        <h2>{{book.getTitle()}}</h2>
                    </small>

                    <small>
                        {{book.getAuthor()}}
                    </small> |
                    <small>
                        {{book.getPublisher().getName()}}
                    </small> |

                    <small>
                        {{book.getPrice()}}
                    </small> |

                    <small>
                        <a href="#" id="edit">Edit</a>
                    </small> |

                    <small>
                        <a href="/delete/{{book.getId()}}">Delete</a>
                    </small>
                </form>

                <form hidden class="form-inline" id="edit-book" method="post" action="/book/{{book.getId()}}">
                    <input value="{{book.getTitle()}}" class="form-control mb-2 mr-sm-2 mb-sm-0" name="title" placeholder="title">

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input value="{{book.getAuthor()}}" class="form-control" name="author" placeholder="author">
                    </div>

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <select class="form-control" id="list-publisher" name="publisher_id">
                            <option value="">Null</option>
                            {% for publisher in publishers %}
                            {% if book.getPublisher().getId() == publisher.getId() %}
                            <option value="{{book.getPublisher().getId()}}" selected>{{book.getPublisher().getName()}}</option>
                            {% else %}
                            <option value="{{publisher.getId()}}">{{publisher.getName()}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="number" value="{{book.getPrice()}}" class="form-control" name="price" placeholder="price">
                    </div>

                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>

            </section>
        </div>
    </body>
</html>