<html lang="en">
    <head>
        <title>Book-Manager</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/javascript/list-books-script.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="navbar navbar-light navbar-static-top" style="background-color: #e3f2fd;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#" id="create">Create Book</a></li>
                <li ><a href="#" id="search">Search Advance</a></li>
            </ul>
            <div class="navbar-form navbar-right" >
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input class="form-control" id="keyword" placeholder="Key Word">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-5">
                <header>
                    <h2>Book-Manager</h2>
                </header>
            </div>
            <nav>
                <div hidden class="form-inline" id="advance">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="input-title-search" placeholder="title">

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="text" class="form-control" id="input-author-search" placeholder="author">
                    </div>

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="text" class="form-control" id="input-publisher-search" placeholder="publisher">
                    </div>

                    <button type="submit" class="btn btn-primary" id="search-advance">Search</button>
                </div>
                <br>
    <!---------------------------------------------------------------------------------------------------------------->

                <form hidden class="form-inline" id="add-book" method="post" action="/book">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" name="title" placeholder="title">

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="text" class="form-control" name="author" placeholder="author">
                    </div>

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <select class="form-control" id="list-publisher" name="publisher_id">

                        </select>
                    </div>

                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <input type="number" class="form-control" name="price" placeholder="price">
                    </div>

                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </nav>

            <section>
                <form id="list-book"></form>
            </section>
        </div>
    </body>

    <script id="bookTemplate" type="text/html">
        <ul>
            <li><a href="/edit/:id:">:bookName:</a></li>
        </ul>
    </script>

    <script id="publisherTemplate" type="text/html">
        <option value=":publisher.id:">:publisher.name:</option>
    </script>
</html>
