<html lang="en">
    <head>
        <title>Book-Manager</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <header>
            <h2>Book-Manager</h2>
        </header>
        <nav>
            <form>
                <a href="/">Home</a>
            </form>

        </nav>

        <section>
            <small>
                <h2>{{book.getTitle()}}</h2>
            </small>
            <small>
                {{book.getAuthor()}}
            </small> |
            <small>
                {{book.getPublisher().getName()}}
            </small> |
            <small>
                {{book.getPrice()}}
            </small>
        </section>
    </body>

</html>